.container-nav-menu {
  position: absolute;
  width: 100%;

  svg {
    width: 20%;
    position: absolute;
    top: 10px;
    left: 34%;
    right: 35%;
    opacity: 1;
    animation-duration: 4s;
    animation-name: fadeIn;
  }

  .about-item {
    position: absolute;
    margin-left: 20px;
    font-size: 14px;
    top: 10px;
    animation-duration: 1s;
    animation-name: slideInDown;
    z-index: 99;
    cursor: default;

    .wrapper-about-item {
      position: relative;
      overflow: hidden;
      width: 50px;
      height: 25px;
      top: -5px;

      .first-about-item {
        position: absolute;
        top: 5px;
        transition: 0.3s;
      }

      .second-about-item {
        position: absolute;
        left: 0;
        top: 28px;
        transition: top 0.3s;
      }

      &:hover {
        .first-about-item {
          top: -15px;
        }

        .second-about-item {
          position: absolute;

          top: 5px;
        }
      }
    }
  }

  .episods-item {
    position: absolute;
    font-size: 14px;
    right: 20px;
    top: 10px;
    animation-duration: 1s;
    animation-name: slideInDown;
    z-index: 99;
    cursor: default;

    .wrapper-episods-item {
      position: relative;
      overflow: hidden;
      width: 65px;
      height: 25px;
      top: -5px;

      .first-episods-item {
        position: absolute;
        top: 5px;
        transition: 0.3s;
      }

      .second-episods-item {
        position: absolute;
        left: 0;
        top: 28px;
        transition: top 0.3s;
      }

      &:hover {
        .first-episods-item {
          top: -15px;
        }

        .second-episods-item {
          position: absolute;

          top: 5px;
        }
      }
    }
  }
}

@keyframes slideInDown {
  from {
    top: -15px;
  }

  50% {
    top: -15px;
  }

  to {
    top: 10px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
